:root {
  --color-red: #ff4f48;
}
.form__inner {
  width: 100%;
  max-width: 700px;
  min-height: 100vh;
  background: transparent;
  border: none;
  border: 1px solid #ffffff26;
  /* filter: drop-shadow(30px 30px 30px #000); */
  /* filter: blur(1px); */
  border-radius: 1rem;
  /* box-shadow: 0px 10px 40px aqua; */
  box-shadow: 0px 10px 40px rgba(0 0 0 / 0.66);
  /* box-shadow: 0 25px 45px #0000000d; */
  /* position: relative; */
  /* transform-style: preserve-3d; */
  /* transform: perspective(1000px) translateZ(20px); */
  /* cursor: pointer; */
  margin-block: 1rem;
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: 3rem;
  /* position: absolute; */
  /* inset: 0; */
  /* top: 48%; */
  /* left: 30%; */
  z-index: 0;
}

.form__heading {
  font-size: 1.5rem;
}

.form__hidden {
  display: none;
}

.form__box {
  display: flex;
  flex-direction: column;
}

.label__name {
  width: 100%;
  line-height: 2;
  background: transparent;
  margin-block-start: 0.5rem;
}

.required {
  display: inline-block;
  font-size: 0.75rem;
  color: var(--color-red);
  margin-inline-start: 0.25rem;
  -webkit-appearance: none;
  appearance: none;
  -webkit-text-fill-color: var(--color-red);
  -webkit-opacity: 1;
}

.input__name {
  font-size: 1rem;
  line-height: 1.8;
  color: #020202;
  background: #f1f5f9;
  border: 1px solid #cccccc;
  box-shadow: 0 0 8px rgba(0 255 255 / 0.6);
  border-radius: 0.5rem;
  margin-block-start: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.input__name:is(:hover, :focus-within),
.input__email:is(:hover, :focus-within) {
  background-color: transparent;
  box-shadow: 0 10px 10px rgba(0 255 255 / 0.6);
}

.label__email {
  width: 100%;
  line-height: 2;
  background: transparent;
  margin-block-start: 0.5rem;
}

.input__email {
  font-size: 1rem;
  line-height: 2;
  color: #232323;
  background: #f1f5f9;
  border: 1px solid #cccccc;
  box-shadow: 0 0 8px rgba(0 255 255 / 0.6);
  border-radius: 0.5rem;
  margin-block-start: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.label__message {
  width: 100%;
  line-height: 2;
  background: transparent;
  margin-block-start: 0.5rem;
}

.label__field {
  display: inline-block;
  height: 1.5em;
  position: relative;
}

.label__text {
  width: 120px;
  color: gray;
  border: 1px solid gray;
  border-radius: 0.5rem;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(200px);
  transition:
    opacity 1s ease,
    transform 1.4s ease;
  padding-inline: 0.5rem;
}

.label__text--active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
}

.textarea__message {
  font-size: 1rem;
  line-height: 2;
  color: #020202;
  background: #f1f5f9;
  border: 1px solid #cccccc;
  box-shadow: 0 0 8px rgba(0 255 255 / 0.6);
  border-radius: 0.5rem;
  resize: vertical;
  margin-block-start: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}
.textarea__message:is(:hover, :focus-within) {
  background-color: transparent;
  box-shadow: 0 10px 10px rgba(0 255 255 / 0.6);
}

.label__checkbox {
  width: fit-content;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  margin-block-start: 1.25rem;
  margin-inline: auto;
}
.checkbox {
  width: 24px;
  height: 24px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0 255 255 / 0.6);
  border: solid 2px #808080;
  border-radius: 0.25rem;
  appearance: none;
  position: relative;
}
.checkbox::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  color: black;
  background-color: black;
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-mask-image: url("../assets/svg/check.svg");
  mask-image: url("../assets/svg/check.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.checkbox:checked::before {
  opacity: 1;
}

.checkbox__link {
  font-size: 0.875rem;
  color: rebeccapurple;
}
.checkbox__link:is(:hover, :focus-within) {
  color: rebeccapurple;
  text-decoration: underline;
}

.submit {
  display: block;
  width: 100%;
  max-width: 200px;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0 255 255 / 0.6);
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin-block-start: 1.25rem;
  margin-inline: auto;
  padding: 0.5rem 1rem;
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  transition:
    transform 0.1s ease,
    box-shadow 0.4s ease;
}
@media (prefers-color-scheme: dark) {
  .submit:active {
    transform: scale(0.8);
    box-shadow: 0 8px 8px rgba(0 255 255 / 0.6);
  }
}

.submit:is(:hover, :focus-visible) {
  color: rebeccapurple;
  background-color: aliceblue;
  /* box-shadow: 0 0 10px rgba(0 255 255 / 0.6); */
  filter: drop-shadow(0 5px 10px rgba(0 255 255 / 0.6));
}
.form__inner p {
  font-size: 1rem;
  color: var(--color-red);
  background-color: transparent;
  margin: 0;
  margin-block-start: 0.25rem;
  padding: 0;
}
@media (max-width: 480px) {
  .form__inner {
    width: 94%;
    min-height: 100%;
    padding-block: 2rem;
    padding-inline: 0.5rem;
  }
  .checkbox__link {
    font-size: 0.9375rem;
  }
  .checkbox__text {
    font-size: 0.9375rem;
  }
}
