.form__inner {
  width: 100%;
  max-width: 700px;
  background: transparent;
  border: var(--color-white) 1px solid;
  border-radius: 1rem;
  box-shadow: 0 10px 40px rgb(0 0 0 / 0.66);
  margin-block: 2rem;
  padding-block: 2rem;
  padding-inline: 3rem;
  z-index: 0;
}

.form__heading {
  font-size: 1.5rem;
}

.form__hidden {
  display: none;
}

.form__box {
  display: flex;
  flex-direction: column;
}

.label__name {
  width: 100%;
  line-height: 2;
  background: transparent;
  margin-block-start: 0.5rem;
}

.label__company {
  width: 100%;
  line-height: 2;
  background: transparent;
  margin-block-start: 0.5rem;
}

.required {
  display: inline-block;
  font-size: 0.75rem;
  color: var(--color-red);
  margin-inline-start: 0.25rem;
  appearance: none;
  -webkit-text-fill-color: var(--color-red);
  -webkit-opacity: 1;
}

.input__name {
  font-size: 1rem;
  line-height: 1.8;
  color: var(--color-black);
  background: var(--color-white);
  border: #ccc 1px solid;
  box-shadow: 0 0 8px rgb(0 255 255 / 0.6);
  border-radius: 0.5rem;
  margin-block-start: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.input__name:is(:hover, :focus-within) {
  background-color: transparent;
  box-shadow: 0 10px 10px rgb(0 255 255 / 0.6);
}

.input__company {
  font-size: 1rem;
  line-height: 1.8;
  color: var(--color-black);
  background: var(--color-white);
  border: #ccc 1px solid;
  box-shadow: 0 0 8px rgb(0 255 255 / 0.6);
  border-radius: 0.5rem;
  margin-block-start: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.input__company:is(:hover, :focus-within) {
  background-color: transparent;
  box-shadow: 0 10px 10px rgb(0 255 255 / 0.6);
}

.label__email {
  width: 100%;
  line-height: 2;
  background: transparent;
  margin-block-start: 0.5rem;
}

.input__email {
  font-size: 1rem;
  line-height: 2;
  color: #232323;
  background: var(--color-white);
  border: 1px solid #ccc;
  box-shadow: 0 0 8px rgb(0 255 255 / 0.6);
  border-radius: 0.5rem;
  margin-block-start: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.input__email:is(:hover, :focus-within) {
  background-color: transparent;
  box-shadow: 0 10px 10px rgb(0 255 255 / 0.6);
}

.label__message {
  width: 100%;
  line-height: 2;
  background: transparent;
  margin-block-start: 0.5rem;
}

.label__field {
  display: inline-block;
  height: 1.5em;
  position: relative;
}

.label__text {
  width: 120px;
  color: transparent;
  border: var(--color-aqua) 1px solid;
  border-radius: 0.5rem;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition:
    width 2s ease,
    opacity 2s ease-out,
    transform 2s ease;
  transform-origin: center;
  padding-inline: 0.5rem;
}

.label__text--active {
  width: 120px;
  position: relative;
  opacity: 1;
  transform: scale(1.1);
}

.textarea__message {
  font-size: 1rem;
  line-height: 2;
  color: var(--color-black);
  background: var(--color-white);
  border: 1px solid #ccc;
  box-shadow: 0 0 8px rgb(0 255 255 / 0.6);
  border-radius: 0.5rem;
  resize: vertical;
  margin-block-start: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.textarea__message:is(:hover, :focus-within) {
  background-color: transparent;
  box-shadow: 0 10px 10px rgb(0 255 255 / 0.6);
}

.label__checkbox {
  width: fit-content;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  margin-block-start: 1.25rem;
  margin-inline: auto;
}

.checkbox {
  width: 24px;
  height: 24px;
  background: var(--color-white);
  box-shadow: 0 0 10px rgb(0 255 255 / 0.6);
  border: var(--color-gray) 2px solid;
  border-radius: 0.25rem;
  appearance: none;
  position: relative;
}

.checkbox::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  color: var(--color-black);
  background-color: var(--color-black);
  position: absolute;
  inset: 0;
  opacity: 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: url("../assets/svg/check.svg");
  mask-image: url("../assets/svg/check.svg");
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-size: contain;
  mask-size: contain;
}

.checkbox:checked::before {
  opacity: 1;
}

.checkbox__link {
  font-size: 0.875rem;
  color: var(--color-purple);
}

.checkbox__link:is(:hover, :focus-within) {
  color: var(--color-purple);
  text-decoration: underline;
}

.submit {
  display: block;
  width: 100%;
  max-width: 200px;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-purple);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgb(0 255 255 / 0.6);
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin-block-start: 1.25rem;
  margin-inline: auto;
  padding: 0.5rem 1rem;
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  transition:
    background-color 0.4s ease,
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

@media (prefers-color-scheme: dark) {
  .submit:active {
    transform: scale(0.8);
    box-shadow: 0 8px 8px rgb(0 255 255 / 0.6);
  }
}

.submit:is(:hover, :focus-visible) {
  color: var(--color-purple);
  background-color: aliceblue;
  filter: drop-shadow(0 5px 10px rgb(0 255 255 / 0.6));
}

.error__message {
  color: var(--color-red);
  margin-top: 1rem;
}

.form__inner p {
  font-size: 1rem;
  color: var(--color-red);
  background-color: transparent;
  margin: 0;
  margin-block-start: 0.25rem;
  padding: 0;
}

@media (width <= 1200px) {
  .form__inner {
    padding-block: 2rem;
  }
}

@media (width <= 480px) {
  .form__inner {
    width: 100%;
    padding-block: 2rem;
    padding-inline: 0.5rem;
  }

  .checkbox__link {
    font-size: 0.9375rem;
  }

  .checkbox__text {
    font-size: 0.9375rem;
  }
}
