/* リセットcss */

* {
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

:where(html:has(dialog:modal[open])) {
  overflow: clip;
}

@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}

:where(h1, h2, h3, h4, h5, h6, p) {
  overflow-wrap: break-word;
}

:where(ol),
[role="list"] {
  list-style: none;
}

:where(a) {
  background-color: transparent;
  text-underline-offset: 0.2ex;
}

:where(a:not([class])) {
  color: currentcolor;
  text-decoration-skip-ink: auto;
}

:where(input, textarea, select, label[for]) {
  cursor: pointer;
  touch-action: manipulation;
}

:where(button, input, textarea, select) {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  letter-spacing: inherit;
  color: inherit;
  background: transparent;
  border-radius: 0;
  text-align: inherit;
  word-spacing: inherit;
  text-transform: inherit;
  appearance: none;
}

:where(input[type="button"], input[type="submit"], input[type="reset"]) {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  text-align: center;
}

:where(button:disabled, button[type="button"]:disabled, button[type="reset"]:disabled, button[type="submit"]:disabled) {
  cursor: not-allowed;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:where(
  input:disabled,
  input[type="button"]:disabled,
  input[type="submit"]:disabled,
  input[type="reset"]:disabled,
  input[type="reset"]:disabled
) {
  cursor: not-allowed;
}

:where(input[type="checkbox"]) {
  appearance: auto;
}

:where(input[type="radio"]) {
  appearance: auto;
}

:where(textarea) {
  resize: vertical;
}

@supports (resize: block) {
  :where(textarea) {
    resize: block;
  }
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(canvas, iframe, video, audio, embed, object) {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

:where(img, svg, video) {
  max-inline-size: 100%;
}

:where(svg) {
  stroke: none;
  fill: currentcolor;
}

:where(svg):where(:not([fill])) {
  stroke-linecap: round;
  stroke-linejoin: round;
}

:where(svg):where(:not([width])) {
  inline-size: 5rem;
}

:where(small) {
  font-size: 100%;
}

:where(dialog) {
  max-width: unset;
  max-height: unset;
  background: none;
  border: none;
  inset: unset;
}

:where(dialog:not([open])) {
  display: none !important;
}

:where(hr) {
  color: inherit;
  border: none;
  border-block-start: 1px solid;
  block-size: 0;
  overflow: visible;
}

@media (prefers-reduced-motion: no-preference) {
  :where(:not(:active)):focus-visible {
    transition-duration: 0.25s;
  }
}

:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled="true"] {
  cursor: default;
}
