---
import Rive from "./RiveComponent";

interface ServiceCardProps {
  cardTitle: string;
  cardBody: string[];
  src: string;
}

const { cardTitle, cardBody = [], src } = Astro.props as ServiceCardProps;
---

<article class="swiper-slide serviceCard">
  <div class="serviceCard__contents">
    <h2 class="serviceCard__header">
      {cardTitle}
    </h2>
    <ul class="serviceCard__menu">
      {
        cardBody.length > 0 ? (
          cardBody.map((item) => <li class="serviceCard__item">{item}</li>)
        ) : (
          <li class="serviceCard__item">
            <span style="display:none;" />
          </li>
        )
      }
    </ul>
    <figure class="serviceCard__image">
      <Rive src={src} client:only="react" />
    </figure>
  </div>
</article>

<style is:global>
  #swiper2 .swiper-slide.serviceCard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-row: span 1;
    grid-template-rows: subgrid;
    background-color: linear-gradient(
      90deg,
      rgba(0, 19, 172, 1) 0%,
      rgba(100, 255, 209, 1) 55%,
      rgba(43, 255, 152, 1) 100%
    );

    border-radius: 1rem;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background-image: none;
    background-size: 500%;
    background-position: 100%;
    position: relative;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    padding: 1rem;
  }
  @keyframes scrollCard {
    0% {
      transform: translateX(4vw);
    }
    20%,
    80% {
      opacity: 1;
      transform: none;
    }
    100% {
      transform: translateX(90%) scale(0.8);
      opacity: 0;
    }
  }
  /* #swiper2 .swiper-slide.serviceCard {
    @supports (animation-timeline: scroll()) {
      animation: scrollCard linear both;
      animation-timeline: view(x);
    }
  } */
  #swiper2 .swiper-slide .serviceCard__contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    color: white;
    background-color: #232323;
    text-decoration: none;
    border-radius: 8px;
    opacity: 0.8;
    padding: calc(1.5rem - 1px);
  }
  #swiper2 .swiper-slide .serviceCard__header {
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    margin: 0;
  }
  #swiper2 .swiper-slide .serviceCard__menu {
    list-style: none;
    margin-block: 0.5rem;
  }
  .serviceCard__item {
  }
  #swiper2 .swiper-slide {
    overflow: hidden;

    transition-delay: 0.5s;
  }
  #swiper2 .swiper-slide:is(:hover, :focus-visible) {
    background-position: 0;
    background-image: var(--accent-gradient);
    background-image: linear-gradient(
      45deg,
      rgba(0, 19, 172, 1) 0%,
      rgba(100, 255, 209, 1) 30%,
      rgba(43, 255, 152, 1) 60%
    );
  }
  #swiper2 .swiper-slide:is(:hover, :focus-visible) .serviceCard__header {
    color: rgb(var(--accent-light));
  }
  #swiper2 .serviceCard__image {
    width: 360px;
    height: 270px;
    border-radius: 1rem;
    object-fit: contain;
    margin-block-start: auto;
    transform: translateX(-100%);
  }
  #swiper2 .serviceCard__image canvas {
    transform: translateX(100%);
  }
</style>
