html {
  --origin-x: calc(var(--click-x, 0.5) * 100%);
  --origin-y: calc(var(--click-y, 0.5) * 100%);
}

html.is-changing .transition-reveal {
  transition:
    clip-path 2s cubic-bezier(0.5, 0, 0.15, 1),
    mask-position 2s cubic-bezier(0.5, 0, 0.15, 1),
    -webkit-mask-position 2s cubic-bezier(0.5, 0, 0.15, 1);
}

html.to-circle .transition-reveal {
  clip-path: circle(75% at 50% 50%);
}

html.to-circle .transition-reveal.is-next-container {
  clip-path: circle(0% at var(--origin-x) var(--origin-y));
}

/* html.to-square .page+.page {
  z-index: 3;
} */

/* html.to-gradient .page+.page {
  mask-image: linear-gradient(to left, transparent 33.33%, white 66.66%);
  -webkit-mask-image: linear-gradient(to left,
      transparent 33.33%,
      white 66.66%);
  mask-size: 300% 100%;
  -webkit-mask-size: 300% 100%;
  mask-position: right;
  -webkit-mask-position: right;
} */

.pages {
  display: grid;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.page {
  position: relative;
  min-width: 0;
  grid-row: 1;
  grid-column: 1;
  background-color: hsl(239, 50%, 30%);
  z-index: 2;
}

.page + .page {
  z-index: 1;
}

.page .arrows {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .page {
    padding: 0 4em;
  }

  .page .arrows a {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    font-size: 1.35em;
    /* font-weight: bold; */
    padding: 0.3em 0.55em;
  }

  .page .arrows a span {
    display: none;
  }

  .page .arrows a:first-child {
    left: 1em;
  }

  .page .arrows a:last-child {
    right: 1em;
  }
}

.page--1 {
  background-color: hsl(239, 50%, 30%);
}

.page--2 {
  background-color: hsl(354, 99%, 68%);
}

.page--3 {
  background-color: hsl(172, 65%, 62%);
}

.page--4 {
  background-color: hsl(238, 50%, 18%);
}

.page--5 {
  background-color: hsl(347, 51%, 68%);
}

.buttons--spaced {
  display: flex;
  justify-content: space-evenly;
}

.buttons .button {
  margin-right: 1em;
}

.button {
  display: inline-block;
  border-radius: 999vw;
  background: transparent;
  border: 2px solid;
  padding: 0.6em 1.1em;
  transition-property: background, color;
  transition-duration: 150ms;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background: rgba(255, 255, 255, 0.05);
}
