---
interface FooterProps {
  footerHeader: string;
}

const { footerHeader } = Astro.props as FooterProps;
---

<h2 class="footer__header">
  {footerHeader}
</h2>

<style>
  .footer__header {
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1;
    padding-block: 0.5rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 2rem;
  }
</style>
